.hero {
  margin-top: 10px;
  width: 100%;
  height: 70vh;

  background-image: url('Ahero1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Large screens */
@media (min-width: 1200px) {
  .hero {
    height: 80vh;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
    background-position: center top;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .hero {
    height: 40vh;
    background-position: center;
  }
}