  <h2>उत्पाद सूची</h2>
<div class="product-container">


  <div class="product-card"  *ngFor="let product of products"  (click)="showDetails(product)">
  
  
    <img [src]="product.imageUrl" width="150">
        <h3>{{product.name}}</h3>

  <p id="d">{{product.description}}</p>
  <p id="p">मूल्य:- ₹{{product.price}}</p>

  </div>

</div>


<div class="detail-section" *ngIf="selectedProduct">
  <div class="detail-card">
    
    <img [src]="selectedProduct.imageUrl">

    <h2>{{selectedProduct.name}}</h2>

    <p>{{selectedProduct.description}}</p>

    <h3>मूल्य: ₹{{selectedProduct.price}}</h3>
    <button ><a href="tel:+919575135007">order now</a></button>
    <button (click)="closeDetails()">Close</button>

  </div>
</div>
<!-- 
<h2>उत्पाद सूची</h2>

<div class="product-container">
  <div class="product-card" *ngFor="let product of products">
    
    <h3>{{product.name}}</h3>
    
    <img [src]="product.imageUrl" alt="product image">

    <p class="desc">{{product.description}}</p>
    
    <p class="price">मूल्य:- ₹{{product.price}}</p>

  </div>
</div> -->